/* css 초기화 */
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}

/* navigation bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* navigation bar logo */
.navbar .navbar-logo {
    width: 15%;
    padding-left: 15px;
}
.navbar-logo {
    display: block;
    margin: 0 auto;
}
.navbar-logo img {
    width: 100%;
}

/* navigation bar menu */
.navbar .navbar-menu {
    width: 80%;
    padding: 0;
}

.navbar .navbar-menu .navbar-menu-list{
    list-style-type: none;
    display: flex;
    padding: 0;
}

.navbar-menu-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 87px;
    border: 2px solid lightgray;
}

.navbar-mnu-list img {      
    display: block;
    width: 30px;
}

.navbar-search {
    width: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar-search p {
    padding: 0;
}


